<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Map</title>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link href="../static/styles/map.css" rel="stylesheet"/>
  </head>
  <body style="padding: 0; margin: 0 auto">
    <div
      class="container"
      style="padding: 0; margin: 0 auto; position: relative"
    >
      <div
        id="map"
        style="width: 100vw; height: 100vh; margin: 0 auto; padding: 0"
      ></div>
    </div>
    {% for location in locations %}
    <div
      id="marker_{{ location._id }}"
      name="marker"
      data-latitude="{{ location.latitude }}"
      data-longitude="{{ location.longitude }}"
      data-name="{{ location.name }}"
      data-id="{{ location._id }}"
      data-address="{{ location.address }}"
      data-icon="{{ location.icon if location.icon else 'url(../static/icons/' + default_icon + ')' }}"
      hidden
    ></div>
    {% endfor %}

    <script>
      Telegram.WebApp.ready();
      Telegram.WebApp.expand();
      var data = Telegram.WebApp.initDataUnsafe;
      var user = data.user;
      if (user) {
        var userId = user.id;
      } else {
        var userId = 0;
      }

      var path = window.location.pathname;
      var pageUserId = parseInt(path.split("/").pop());
      const isOwner = userId === pageUserId;
      //const isOwner = true;

      console.log(userId);
      console.log(pageUserId);

      var root = document.documentElement;
      var firstColor = getComputedStyle(root).getPropertyValue("--tg-theme-bg-color");
      var secondaryColor = getComputedStyle(root).getPropertyValue("--tg-theme-secondary-bg-color");
      // console.log(firstColor);
      // console.log(secondaryColor);
    
    </script>

    <script>

      function replaceColorsIfNeeded(svgString) {
        if (firstColor && secondaryColor) {
          return svgString.replaceAll("color1", firstColor).replaceAll("color2", secondaryColor) 
        }
        // console.log("{{ default_color1 }}");
        // console.log("{{ default_color2 }}");
        console.log(svgString);
        var result = svgString.replaceAll("color1", "%23" + "{{ default_color1 }}").replaceAll("color2", "%23" + "{{ default_color2 }}");
        return result;
      }

      var markers = document.querySelectorAll('[id^="marker"]');

      var myMarkers = [];

      function renderMarkers(map) {
        for (let marker of markers) {
          var el = document.createElement("div");
          el.className = "marker";
          el.id = marker.dataset.id;
          var icon = replaceColorsIfNeeded(marker.dataset.icon);
          //var icon = marker.dataset.icon;
          console.log(icon);
          el.style.backgroundImage = icon;
          el.style.backgroundRepeat = "no-repeat";
          el.style.backgroundSize = "cover";
          el.style.width = "40px";
          el.style.height = "40px";

          var lat = parseFloat(marker.dataset.latitude);
          var lng = parseFloat(marker.dataset.longitude);
          
          var popupHTML = `
            <h3 class="marker-header">${marker.dataset.name}</h3>
            <p>${marker.dataset.address}</p>
          `

          if (isOwner) {
            popupHTML = `
              <div id="dropdown" class="icon-select" onclick="toggleDropdown()">
                <div class="icon" id="selected-option" style="background-image: ${icon};"></div>
                <div id="dropdown-options" style="display: none;">
                  <div class="options-container">
                    {% for icon in icons %}
                    <div class="icon" onclick="selectOption('url({{ icon.content }})', '${marker.dataset.id}')" style="background-image: url({{ icon.content }});">icons</div>
                    {% endfor %}
                  </div>
                </div>
              </div>
              ${popupHTML}
              <button
                class="delete-btn"
                onclick="handleDelete(this)"
                id="${marker.dataset.id}"
              >
                <img src="../static/waste-basket.svg" alt="Delete Icon">
                Удалить
              </button>
            `
          }

          var newMarker = new mapboxgl.Marker(el)
            .setPopup(
              new mapboxgl.Popup({ offset: 25 }).setHTML(popupHTML)
            )
            .setLngLat([lng, lat])
            .addTo(map);
          myMarkers.push(newMarker);
        }
      }
    </script>

    <script>
      function toggleDropdown() {
        var dropdownOptions = document.getElementById('dropdown-options');
        dropdownOptions.style.display = dropdownOptions.style.display === 'none' ? 'block' : 'none';
      }
    
      function selectOption(option, marker_id) {
        document.getElementById('selected-option').style.backgroundImage = option;
        marker = document.getElementById(marker_id);
        marker.style.backgroundImage = option;

        fetch("/location/" + marker_id, {
          method: "PATCH",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({icon_data: option})
        })
          .catch((error) => {
            console.error("Error:", error);
        });
        toggleDropdown();
        toggleDropdown();
      }
    </script>

    <script>
      

      mapboxgl.accessToken = "{{ access_token }}";
      console.log(markers);

      if (markers.length > 0) {
        var map = new mapboxgl.Map({
          container: "map",
          style: "{{ map_style }}",
          center: [
            parseFloat(markers[0].dataset.longitude),
            parseFloat(markers[0].dataset.latitude),
          ],
          zoom: 8,
        });
      } else {
        var map = new mapboxgl.Map({
          container: "map",
          style: "{{ map_style }}",
          center: [0, 0],
          zoom: 2,
        });
      }
      renderMarkers(map);
    </script>

    <script>
      function handleDelete(button) {
        console.log(button);
        console.log(button.parent);
        var agree = confirm("Уверены, что хотите удалить место?");
        if (!agree) return;

        myMarkers.forEach((m) => {
          console.log(m);
          if (m._element.id == button.id) {
            m.remove();
          }
        });

        fetch("/location/" + button.id, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => console.log(data))
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
